.card{
    
    margin-top:30px;
    margin-left: 5px;
    margin-right:60px;
    padding: 1px;

}
img.card-img-top{
    margin-top:10px;
    height: 120px;
}

.card-title{
    color: blue;
}
.price-text{
    font-weight: bold;
    font-size: 16px;
    color: tomato;
}
.card-text{
    font-size: 12px;
    font-style: italic;
}