
nav.bg-blue{
  background-color: rgb(182, 178, 224);
}

.App-link {
  color: #61dafb;
}

.bg-tomato{
  background-color: rgb(51, 32, 218);
}

a.nav-link{
  color:black;
  float: left;
  text-align: left;
}